.colorB {
        
    background:  #0e42cf;
    
    }
    .colorB2 {
        
        background:  #0a9db0;
        }

    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }

    .auth.login-bg {
        background: url("../imagenes/login_bg.jpg");
        background-size: cover;
        
    }

    .fondo{
            background: #5e35ce;
        }